body {
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  font-family: Arial;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#particles-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="1" opacity=".5"><path d="M12 2v20m8-8H4m16-8L4 20M4 4l16 16"/></svg>') 12 12,
    auto;
}